*{
	margin: 0; padding: 0; box-sizing: border-box; font-family: 'Poppins', sans-serif;
}

.logo{ 
	width: 30%;
} 

.home-div{
    display: flex;
    flex-direction: row;
    width: 100%;
	height: 100vh;
	background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}

.home-txt{
    margin-top: 5%;
    width: 40%;
    margin-left: 10%;
    color: #fff;
    text-align: justify;
}

.home-txt h1{
    color: #fff;
    margin-top: 5%;
    margin-bottom: 5%;
}

.home-txt img{
	margin-top: 5%;
	margin-bottom: 4%;
	width: 55%;
	-webkit-animation: mover 2s infinite alternate;
	animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover{
	0% { transform: translateY(0); }
	100% {transform: translateY(-20px); }
}
@keyframes mover{
	0% { transform: translateY(0); }
	100% {transform: translateY(-20px); }
}

.home-img{
    width: 50%;
    height: 60%;
    display: flex;
    margin: auto;
}

.image-home{
    width: 70%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-top: 5%;
}

.start-btn{
    margin-top: 4%;
    text-decoration: none;
    border: none;
    box-shadow: 4px 4px 0 rgba(0,0,0,.5);
    padding: 2%;
    width: 35%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    cursor: pointer;
}

.start-btn:hover{
    box-shadow: 0 0 0 ;
}

.start-btn .fa {
    margin-left: 4%;
}